<p>Prevents manual text entry and updates the model only when an item from suggestions is selected</p>

<label for="typeahead-prevent-manual-entry">Search for a state:</label>
<input id="typeahead-prevent-manual-entry"  placeholder="Search using skills, locations and job roles..." type="text" class="form-control"
       [(ngModel)]="model"
       [ngbTypeahead]="search"
       [inputFormatter]="formatter"
       [resultFormatter]="formatter"
       [editable]='false' />
<hr>
<pre>Model: {{ model | json }}</pre>

<!-- <ul>
    <li *ngFor = "let job of joblist">
        Job Role : <div>{{job.jobRole}}</div> 
        Function : <div>{{job.function}}</div>
        Sub Function: <div>{{job.subFunction}}</div>
        Company : <div>{{job.company}}</div>
        Core skills : <div>{{job.coreSkills}}</div>
        Soft skills : <div>{{job.softSkills}}</div>
        Location : <div>{{job.location}}</div>
        Pin : <div>{{job.pin}}</div>
        Compensation : <div>{{job.compensation}}</div>

        <span *ngIf="(job.status)">Active</span>
        <span *ngIf="!(job.status)">Inactive</span> 
    </li>
</ul> -->